{
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "plugin:import/recommended"],
  "plugins": ["prefer-arrow"],
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "rules": {
    "no-console": 1,
    "no-unused-vars": 1,
    "import/newline-after-import": 1,
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ]
  }
}
